# ==============================
# Archivos y carpetas personales
# ==============================
presentaciones/
*.zip
*.rar
*.7z
*.mp4
*.avi
*.mov
*.pdf

# ==============================
# Node.js / React / Vite
# ==============================
node_modules/
dist/
build/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# ==============================
# Archivos del sistema
# ==============================
.DS_Store
Thumbs.db
desktop.ini

# ==============================
# Archivos de editor / IDE
# ==============================
.vscode/
.idea/
*.log

# ==============================
# Archivos temporales
# ==============================
*.tmp
*.bak
*.swp
